h1{
    align-items: center;
    color : blue;
   font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color:yellow;
}
h2{
    color: aqua;
}
.dp{
    background-color:azure;
}
#img{
text-align-last: justify ;
}
#fn{
    background-color: yellow;
    font-size: 15px;
    font-family: serif;
}