body{
    height: 2500px;
    background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3947459/sunset.jpg');
    background-size: cover;
  background-size: 65rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
  text-align: center;
  justify-content: center;
}
h1{
    color:red;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 390px;
    border: 10px double #990000;
    margin-left: 210px;
    font-size: 20px;
}
#spanId{
    font-size: 18px;
    margin:50px ;
    text-align: center;
}

